<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/logo_label"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.WildcatsTimewise"
        tools:targetApi="31">
        <activity
            android:name=".NotificationHelper"
            android:exported="false" />
        <activity
            android:name=".AuthActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterFragment"
            android:exported="false" />
        <activity
            android:name=".LoginFragment"
            android:exported="false" />
        <activity
            android:name=".AboutDevelopersActivity"
            android:exported="false" />
        <activity
            android:name=".AboutAppActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".SearchEventsActivity"
            android:exported="false" />
        <activity
            android:name=".NotificationHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".NotificationHistoryAdapter"
            android:exported="false" />
        <activity
            android:name=".DialogSearchEvent"
            android:exported="false" />
        <activity
            android:name=".MonthPagerAdapter"
            android:exported="false" />
        <activity
            android:name=".MonthFragment"
            android:exported="false" />
        <activity
            android:name=".EditEventFragment"
            android:exported="false" />
        <activity
            android:name=".NotificationReceiver"
            android:exported="false" />
        <activity
            android:name=".AddEventFragment"
            android:exported="false" />
        <activity
            android:name=".SimpleCalendar"
            android:exported="false" />
        <activity
            android:name=".DashboardPage"
            android:exported="false" />
        <activity
            android:name=".LandingPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterPage"
            android:exported="false" />

        <receiver
            android:name=".NotificationReceiver"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>